<%#
  Locals:
  - company: String (company name for class)
  - logo: String (path to company logo)
  - title: String
  - description: String
  - background_image: String (optional, path to background image)
%>

<div class="company-hero <%= company.downcase %>">
  <div class="company-container">
    <div class="company-content">
      <%= image_tag logo, class: "lazyload company-logo", alt: "#{company} Logo" %>
      <h1 class="company-title"><%= title %></h1>
      <p class="company-description"><%= description %></p>
    </div>
  </div>
  <% if defined?(background_image) && background_image %>
    <%= image_tag background_image, class: 'company-mockup lazyload' %>
  <% end %>
</div> 