<%# 
  Local variables:
  - intro: Hash (optional)
    - logo: String (path to logo image)
    - quote: String (quote text)
  - title: String (optional)
  - content: Array of Hashes (optional)
    Each item can be:
    - type: 'stats' (default)
      - icon: String (icon class)
      - value: String (stat value)
      - label: String (stat label)
    - type: 'image'
      - src: String (image path)
      - alt: String (alt text)
    - type: 'video'
      - src: String (video path)
      - alt: String (alt text)
    - type: 'html'
      - content: String (HTML content)
  - layout: Array of Arrays (optional)
    - Each inner array represents a column and contains the indices of items to show
    - Default: [[0,1,2], [3,4], [5]] (3 columns with 3,2,1 items respectively)
  - footnote: String (optional)
  - cta: Hash (optional)
    - title: String
    - button_text: String
    - button_url: String
    - subtitle: String
%>

<% if defined?(intro) && intro %>
  <div class="stats-masonry-intro">
    <% if intro[:logo] %>
      <%= image_tag intro[:logo], class: 'stats-masonry-intro-logo lazyload', alt: "#{title} Logo" %>
    <% end %>
    <% if intro[:quote] %>
      <p class="stats-masonry-intro-quote"><%= intro[:quote] %></p>
    <% end %>
  </div>
<% end %>

<% if defined?(content) && content.present? %>
  <div class="stats-masonry">
    <%# Use custom layout if provided, otherwise use default 3-column layout %>
    <% layout_config = defined?(layout) && layout.present? ? layout : [[0,1,2], [3,4], [5]] %>
    
    <% layout_config.each do |column_indices| %>
      <div class="stats-masonry__col">
        <% column_indices.each do |index| %>
          <% if content[index] %>
            <% item = content[index] %>
            <% case item[:type] %>
            <% when 'stats' %>
              <div class="stats-item stats-item--box <%= item[:color] || '' %>">
                <% if item[:subtitle] %>
                  <p class="stats-item__subtitle"><%= item[:subtitle] %></p>
                <% end %>
                <% if item[:icon] %>
                  <i class="<%= item[:icon] %>"></i>
                <% end %>
                <h4 class="stats-item__title<%= item[:size] ? "_#{item[:size]}" : '' %>"><%= item[:value] %></h4>
                <p class="stats-item__description<%= item[:size] == 'sm' ? '_small' : '' %>">
                  <%= item[:label].html_safe %>
                </p>
                <% if item[:icons] %>
                  <div class="stats-item__icons">
                    <% item[:icons].each do |icon| %>
                      <i class="<%= icon %>"></i>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% when 'image' %>
              <div class="stats-item stats-item--image">
                <%= image_tag item[:src], class: 'lazyload', alt: item[:alt] %>
              </div>
            <% when 'video' %>
              <div class="stats-item stats-item--image">
                <video autoplay loop muted playsinline class="lazyload">
                  <source src="<%= item[:src] %>" type="video/mp4">
                  Your browser does not support HTML5 video.
                </video>
              </div>
            <% when 'html' %>
              <div class="stats-item stats-item--html">
                <%= item[:content].html_safe %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<% if defined?(footnote) && footnote %>
  <p class="stats-masonry-footnote"><%= footnote %></p>
<% end %>

<% if defined?(cta) && cta %>
  <div class="stats-masonry-cta">
    <% if cta[:title] %>
      <h5 class="stats-masonry-cta-title"><%= cta[:title] %></h5>
    <% end %>
    <% if cta[:button_text] && cta[:button_url] %>
      <a href="<%= cta[:button_url] %>" class="btn btn--black" target="_blank">
        <%= cta[:button_text] %> <i class="icon-arrow-up-right-from-square"></i>
      </a>
    <% end %>
    <% if cta[:subtitle] %>
      <p class="stats-masonry-cta-subtitle"><%= cta[:subtitle] %></p>
    <% end %>
  </div>
<% end %>