<%# ---
title: Jason Cypret
--%>

<div class="header">
  <h1>BloomBoard</h1>
  <%= render "/layouts/nav" %>
</div>

<div class="post-style">
  <p>
    I’ve been very fortunate to have been apart impacting BloomBoard at the core. When I first joined remote teams functioned separately without good collaboration. I was able to spark a flame and was able to be impactful of change. I was able to impact change by leading by example. I was a key member of teams that were crucial in developing what BloomBoard is and how they function Today.
  </p>

  <p>
    I’m a thinker and maker who thrives on ambiguity and challenging problems. Let me take you through some of the journeys I had with BloomBoard over the last 2 1/2 years.
  </p>

  <div class="three-photo">
    <%= image_tag 'bloomboard/fun.JPG', class: "lazyload" %>
    <%= image_tag 'bloomboard/papers.jpg', class: "lazyload" %>
    <%= image_tag 'bloomboard/sightglass.JPG', class: "lazyload" %>
  </div>

  <h2>R&D Group</h2>

  <p>
    When I started I was brought on to a scrappy R&D team. The goal was to quickly develop several products, launch, and gauge product market fit, and gather user feedback.
  </p>

  <p>
    We were a separate group from the rest of BloomBoard and were able to do things that were previously not possible by the rest BloomBoard. I came in a hit the group running.
  </p>

  <h2>Topsoil</h2>

  <p>
    The main product we wanted to test was topsoil. It was a goal setting app that you can track steps on goals, collect ideas, collaborate with mentors, and get peer feedback.
  </p>

  <p>
    I was performing dual roles at this time. UX and design, as well as front and back end implementation. The stack was a Ruby/Rails backend powered by angular on the front end.
  </p>

  <p>
    I designed, implemented, and tested in rapid succession. We were able to launch Topsoil in a really short period of time.
  </p>

  <p>
    Developed first style guide.
  </p>

  <h2>Re-thinking our product offering</h2>

  <p>
    Core team for new product.
  </p>

  <p>
    Built first version prototype for sales and kickstarted transition to react.
  </p>

  <%= javascript_include_tag "//speakerdeck.com/assets/embed.js", class: "speakerdeck-embed", "data-id" => "7df0bfdf89e6437fb9861cd313a2f25d", "data-ratio" => "1.77777777777778" %>

  <p>
    Deep UX / User research.
  </p>

  <p>
    Initial site launch.
  </p>

  <p>
    mc's.
  </p>

  <p>
    Cross team style guide (Atomic Design).
  </p>

  <p>
    programs.
  </p>

  <p>
    Component based style guide (CSS Modules BBUI).
  </p>

  <p>
    Prototype next big thing from bloomboard.
  </p>
</div>
