<div class="homepage-summary stagger-children">
  <div class="row">
    <!-- Personal Approach Column -->
    <div class="col-lg-4 mb-5 stagger-item">
      <div class="summary-section first">
        <h3 class="section-title header-subtitle">My Approach</h3>
        <% if data.site.personal_approach %>
          <p class="approach-text"><%= data.site.personal_approach.title %></p>
        <% end %>
      </div>
    </div>

    <!-- Work Experience Column -->
    <div class="col-lg-4 mb-5 stagger-item">
      <div class="summary-section">
        <h3 class="section-title header-subtitle">WORK EXPERIENCE</h3>
        
        <% if data.site.work_experience %>
          <% data.site.work_experience.each do |job| %>
            <div class="work-item">
              <div class="work-years"><%= job.years %></div>
              <h4 class="work-title"><%= job.title %> <span class="work-company"><%= job.company %></span></h4>
              <p class="work-description"><%= job.description %></p>
            </div>
          <% end %>
        <% end %>
        
        <% resume_link = data.site.downloads.find { |d| d.title == "resume" } %>
        <% if resume_link %>
          <%= link_to "See All Experience <i class='icon-arrow-right'></i>".html_safe, "/resume/", class: "btn btn--link small no-shadow pl-0" %>
        <% end %>
      </div>
    </div>

    <!-- Blog Posts Column -->
    <div class="col-lg-4 mb-5 stagger-item">
      <div class="summary-section">
        <h3 class="section-title header-subtitle">FROM THE BLOG</h3>
        
        <% blog.articles[0...5].each do |article| %>
          <div class="blog-item">
            <% if article.data.image %>
              <div class="blog-image">
                <%= link_to image_tag(article.data.image, alt: article.title), article.url %>
              </div>
            <% end %>
            
            <div class="summary-blog-content">
              <div class="summary-blog-date"><%= article.date.strftime('%b %eth %Y').upcase %></div>
              <h4 class="summary-blog-title">
                <%= link_to article.title, article.url %>
              </h4>
            </div>
          </div>
        <% end %>
        
        <%= link_to "Go to Blog <i class='icon-arrow-right'></i>".html_safe, "/blog/", class: "btn btn--link small no-shadow pl-0" %>
      </div>
    </div>
  </div>
</div>