---
title: Jason Cypret - VP of UX & Product Design Leader
description: VP of UX and Product Design Leader with 10+ years of experience building user-centered digital experiences. Currently scaling UX teams and launching innovative products at Power.
keywords: UX Design, Product Design, Design Leadership, User Experience, Digital Product Design, Design Systems, Lean UX, Jason Cypret, VP of UX
og_title: Jason Cypret - VP of UX & Product Design Leader | Building User-Centered Digital Experiences
og_description: VP of UX and Product Design Leader with 10+ years of experience. Led UX at Power, scaled teams from 1 to 30+, and launched multi-language open-source design systems.
twitter_title: Jason Cypret - VP of UX & Product Design Leader
twitter_description: VP of UX building user-centered digital experiences. Led UX at Power, scaled teams, launched design systems. 10+ years experience.
---

<%= partial "homepage/hero" %>
<%= partial "homepage/quick_summary" %>
<%= partial "homepage/quote_section" %>
<div class="showcase-title-container fade-in-up">
  <h5 class="header-subtitle pt-3 mt-5">Selected Work & Impact</h5>
  <% portfolio_link = data.site.downloads.find { |d| d.title == "portfolio" } %>
  <% if portfolio_link %>
    <%= link_to "Download My Portfolio <i class='icon-download'></i>".html_safe, portfolio_link.url, class: "btn btn--link small no-shadow pr-0 pt-3 mt-5", target: "_blank" %>
  <% end %>
</div>
<%= partial "homepage/showcase_power" %>
<%= partial "homepage/showcase_box" %>
<%= partial "homepage/showcase_bloom" %>
<%= partial "homepage/showcase_brain" %>
<h5 class="header-subtitle pt-3 mt-5 fade-in-up">Let's Build Something Together</h5>
<%= partial "homepage/my_features" %>
<%= partial "homepage/speaking" %>
